$main-color: #041c4c;
$main-color-75t: hwb(220 2% 70% / 0.75);
$hover-color: rgb(219, 160, 77);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  
  main {
    padding-top: 70px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@import "../components/NavBar/navBar";
