$main-color: #041c4c;
$main-color-75t: hwb(220 2% 70% / 0.75);
$main-color-25t: hwb(220 2% 70% / 0.25);
$main-color-10t: hwb(220 2% 70% / 0.1);
$background-color: #d9e6ff;
$hover-color: rgb(219, 160, 77);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  main {
    padding-top: 70px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@import "../components/NavBar/navBar";
@import "../components/Register/register";
@import "../components/Inputs/StandardInputField/standardInputField";
@import "../components/Buttons/SubmitButton/submitButton";
@import "../components/Buttons/OnOffCheck/onOffCheck";
